body{
  background:#00aaff;
  font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  margin:0;
  font-size:100%;
  color:#fff;
}
a{
	text-decoration:none;
}
p{
	padding:0 5px;
}
img{
	max-width:100%;
}
.index-content{
	display:none;
}
.popup-home-box{
	display:none;
	z-index:1005;
	position:absolute;
	top:88px;
	left:21px;
	border:1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#5b5b5b;
	width:220px;
	padding:20px;
	color:#fff;
}
.popup-home-box p{
	margin:0 0 10px;
	text-align:center;
}
.popup-home-box button{
	width:101px;
	height:36px;
	margin:0 3px;
	color:#fff;
}
#wrapper, #main{
	position:relative;
    width: 320px;
	margin: auto;
}
#main{
	width: 300px;
}
.tutorial-memorygame-holder{
	background:#000;
	float:left;
	width:100%;
	height:390px;
	padding:35px 0 19px;
}
#tutorial-memorygame{	
	width:305px;
	margin:auto;
}
.start-game{
	position:absolute;
	left:31px;
	bottom:10px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	width:257px;
	height:64px;
}
.title-holder{
	display:block;
	height:36px;
	font-size:120%;
	line-height:36px;
}
.title-holder span.yellow{
	float:left;
	background:#ffeb00;
    width:68px;
    height:36px;
	color:#00aaff;
    text-align:center;
}
.title-holder .title{
	float:left;
	margin:0;
	font-weight:bold;
	padding:0 5px;
	text-align:center;
}
.title-holder .title.center{
	width:182px;
}
.footer-nav{
	list-style:none;
	background:#ffeb00;
	float:left;
	width:100%;
	margin:2px 0 0;
	padding:5px 0;
}
.footer-nav li{
	float:left;
	border-right:3px solid #00aaff;
}
.footer-nav li:last-child{
	border-right:none;
}
.footer-nav li a{
	float:left;
	width:100px;
	padding:19px 0;
	color:#00aaff;
	font-size:18px;
	text-align:center;
}
.footer-nav li:last-child a{
	padding:8px 6px;
}
.score-holder{
	float:left;
	font-size:90%;
	margin-right:5px;
	color:#fff;
}
.home-button{
	background:#ff0000;
	float:right;
	padding:5px 15px;
}
.text-style1{
  font-size:12pt;
  color:#56605f;
  font-weight:normal;
  text-shadow: 1px 1px 1px #fff;
  margin:0;
  line-height:18pt;
  padding-top:8px;
}
#quizy-game-summary #gs-column2,
#quizy-game-summary #gs-column3{
	display:none;
}
#quizy-game-summary #gs-column-score{
	width:100%;
	padding:5px 0;
	font-size:14px;
}
#quizy-game-summary #gs-column-input{
	width:100%;
	padding:5px 0;
	font-size:14px;
}
#quizy-game-summary #gs-column-play{
	display:none;
	width:100%;
	padding:5px 0;
	font-size:14px;
}

#overlay-holder {
  width:300px;
  height:280px;
  padding-top:100px;
  position:absolute;
  z-index:1001;
  display:block;
}

button.maincss3button {
	width:303px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	color: #ffffff;
	padding: 20px 20px;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff2819),
		to(#ab0000));
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7d0000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

button.commoncss3button {
	width:303px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	color: #050505;
	padding: 20px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

button.backcss3button {
	float:left;
	margin:2px 8px 0 3px;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding:2px 5px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

.score-table{
	width:100%;
}
.score-table tr{
	height:52px;
}
.score-table tr.bg-spark{
	background-image:url('../img/spark.png');
}
.score-table tr.green{
	background-color:#00a546;
}
.score-table tr.yellow{
	background-color:#96dc1e;
}
.score-table tr.orange{
	background-color:#ffb400;
}
.score-table tr.dark-orange{
	background-color:#ff6e00;
}
.score-table tr.red{
	background-color:#ff0000;
}
.score-table tr.pink{
	background-color:#ff5096;
}
.score-table tr.violet{
	background-color:#965aaa;
}
.score-table th,
.score-table td{
	padding:10px;
}
.score-table th{
	text-align:center;
}
.score-table th span{
	display:inline-block;
	background:#fff;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	width:143px;
	height:26px;
	color:#00a546;
	font-size:123%;
}
.score-table th span.orange{
	color:#ffb400;
}
.score-table th span.red{
	color:#ff0000;
}
.score-table th .crown-icon{
	position:absolute;
	left:36px;
}
.score-table td{
	font-size:210%;
	text-align:right;
	font-weight:bold;
	font-family:Comic Sans MS;
}
.content-holder{
	display:block;
	margin-bottom:15px;
}
.content-title{
	background:#fff;
	margin:0 0 10px;
	padding:5px 10px;
	font-size:80%;
	font-weight:bold;	
}
.content-description .onoffswitch{
	margin:0 auto;
}
.slide-title{
	margin:5px 0 10px;
	font-size:100%;
	font-weight:bold;
	text-align:center;
	color:#000;
}

/* checkbox */
input[type=radio].css-checkbox {
	display:none;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left:41px;
	height:36px; 
	display:inline-block;
	line-height:36px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:18px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -36px;
}
label.css-label {
	background-image:url(../img/checkbox_sprite.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* eof checkbox */