<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "asia.nextus.mmm"
        version   = "1.0.0">

	 <name>MMM</name>

    <description>
        Staging Area
    </description>

    <author href="http://nextus.asia" email="mark@nextus.asia">
        Singapore Nextus Lte. Ptd.
    </author>

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="phonegap-version"           value="2.7.0" />          <!-- all: current version of PhoneGap -->
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />

	<access origin="*" />
</widget>
